@media (max-width: 768px) {
  .burger {
    display: block !important   ;
  }
  ul.nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background: rgba(51, 51, 51, 0.9);
    width: 100%;
    text-align: center;
  }

  ul.nav-links.active {
    display: flex;
  }

  li {
    margin: 10px 0;
  }
  section.banner{
    align-items: center;
  }
  .bgText{
    align-self: center;
    font-size: 5em !important;
  }
  section.banner img.bannerImg{
    align-self: end;
    width: 100%;
  }
  section.banner .banner-heading{
    font-size: 2.5em;
  }
  #about {
    height: auto;
  }

  #about .container{
    flex-direction: column;
    width: 100%;
  }
  #about .about-content .heading{
    font-size: 2em;
  }
  #about .about-content {
    width: 100%;
  }
  #readings{
    height: auto;
    background-position: center right;
  }
  #readings #readingContent{
    width: 100%;
  }

  #booking{
    flex-direction: column;
  }
  #booking img{
    width: 100%;
  }
  #booking .container{
    width: 90%;
  } 

  #vid{
    height: auto;
  }
  #vid video{
    width: 100%;
  }

  #whatsappChannel{
    flex-direction: column;
  }
  
  #whatsappChannel h1{
    text-align: center;
    padding: 20px;
  }
  #instagram{
    height: auto;
    padding: 10px;
  }
  #instagram .container{
    grid-template-columns: repeat(2,1fr);
    place-items: center;
  }

}

