@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Modern+Antiqua&display=swap");

:root {
  --color1: #4b0082;
  --color2: #ffd700;
  --color3: #5d3fd3;
  --color4: #b0c4de;
  --color5: #e6e6fa;
  --color6: #ffffff;
}
* {
  padding: 0;
  margin: 0;
  font-family: Cinzel;
  /* user-select: none; */
  /* outline: 2px solid chartreuse; */
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(
    to bottom,
    var(--color1),
    var(--color4),
    var(--color1)
  );
  background-repeat: no-repeat;
  overflow-x: hidden;
}

header {
  /* height: 100vh; */
  overflow: hidden;
}

nav {
  background: transparent;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
.scrolled {
  background: rgba(51, 51, 51, 0.7);
}
ul {
  display: flex;
}
li {
  list-style: none;
}

nav ul li a {
  padding: 10px;
  color: var(--color6);
  text-decoration: none;
}

.logo {
  color: var(--color2);
  font-size: 1.5em;
}

nav i {
  color: var(--color6);
  font-size: 1.5em;
  display: none !important;
}

/* banner */
section.banner {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#particle {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
section.banner .bgText {
  position: absolute;
  z-index: 0;
  font-size: 16em;
  font-family: "Modern Antiqua";
  font-weight: bold;
  opacity: 0.8;
}
section.banner img {
  z-index: 2;
}

section.banner .banner-heading {
  position: absolute;
  bottom: 10%;
  z-index: 3;
  font-size: 5em;
  text-align: center;
  font-family: "Modern Antiqua";
  font-weight: bold;
  color: var(--color5);
}

/* marquee */

.marquee {
  /* margin: 10px; */
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--color2);
  background: var(--color1);
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 8s linear infinite;
}
.marquww .track .content {
  font-size: 1.5em;
  color: var(--color6);
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-30%);
  }
}

.star {
  filter: hue-rotate(210deg);
}

/* about us */
#about {
  /* display: flex; */
  background: var(--color1);
  padding: 10px;
  height: 500px;
}
.heading {
  background: var(--color1);
  padding: 20px;
  font-family: Modern Antiqua;
  text-align: center;
  font-size: 3em;
  color: var(--color2);
}
#about .container {
  /* border: 2px solid var(--color2); */
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#about .img-container {
  width: 50%;
  height: 100%;
}
#about .img-container img {
  filter: grayscale();
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  display: block;
  margin: auto;
}

#about .about-content {
  width: 50%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#about .about-content .heading {
  color: var(--color2);
  font-weight: bold;
  font-family: "Mordern Antiqua";
  font-size: 3em;
  margin: 10px 0;
  text-align: center;
}

#about .about-content .content {
  color: var(--color4);
  text-align: justify;
  font-size: 1em;
  width: 80%;
  margin: auto;
}

#readings {
  padding: 2em;
  background: url(/assests/poster2.jpg);
  height: 500px;
  background-size: cover;
  color: var(--color5);
}

#readings .heading {
  background: none;
}

#readings .container {
  height: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
#readings #readingContent {
  width: 60%;
  font-size: 2em;
}

#booking {
  padding: 1.5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #0a001e;
}

#booking img {
  width: 30%;
}

#booking .container {
  width: 30%;
  background: var(--color6);
  font-size: 1.5em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#booking .container h1 {
  font-family: "Mordern Antiqua";
  margin: 15px 0;
}

#booking .container p {
  font-size: 0.8em;
  margin: 15px 0;
}
#booking .container a {
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
  width: fit-content;
  padding: 10px;
  background: var(--color3);
  color: var(--color6);
}

#booking .container a:hover {
  background: var(--color1);
}

#vid {
  width: 100%;
  height: 500px;
  position: relative;
}

#vid video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
}

#vid #play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40px, -40px);
  font-size: 6em;
  color: white;
  z-index: 2;
  background: none;
  border: none;
  outline: none;
  opacity: 0.5;
}

#testimonial {
  padding: 10px;
  height: 500px;
  background: var(--color1);
  display: flex;
  border: 2px solid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#testimonial h1,
h3 {
  font-family: "Mordern Antiqua";
  font-weight: bold;
  color: var(--color2);
  font-size: 1.5em;
}

#testimonial .slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60%;
  /* background: grey; */
}

#testimonial .slides {
  width: 100%;
  height: 80%;
  display: none;
}

#testimonial .slides.active {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#testimonial .slides img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

#testimonial .slides .caption {
  width: 80%;
  color: var(--color6);
  text-align: center;
}

#testimonial .btn-group {
  display: flex;
  justify-content: center;
}

#testimonial .btn-group .slider-btn {
  width: 100px;
  background: none;
  border: none;
  outline: none;
  font-size: 1.5em;
  color: var(--color2);
  transition: 0.8s;
}

#testimonial .btn-group .slider-btn:hover i {
  scale: 1.1;
}

/* whatsapp Channel */
#whatsappChannel {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/assests/poster2.jpg);
}

#whatsappChannel h1 {
  color: var(--color2);
  margin: 0 20px;
  padding: 0 20px;
}

#whatsappChannel a {
  color: var(--color6);
  background: var(--color3);
  padding: 10px;
  text-decoration: none;
}

/* categories */

#categories {
  height: 600px;
  margin: 0;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
}
main#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 3;
  --middle: 2;
  --position: 1;
  pointer-events: none;
}

div.item {
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: var(--color5);
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  box-shadow: 5px 5px 5px var(--color1), -5px -5px 5px var(--color1);
  border-radius: 12px;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
  --offset: 1;
}
div.item:nth-of-type(2) {
  --offset: 2;
}
div.item:nth-of-type(3) {
  --offset: 3;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
  --position: 3;
}

div.item img {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 50%;
  object-fit: contain;
}
div.item .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.item .content h3 {
  color: var(--color1);
}

div.item .content span {
  font-size: 1em;
  text-align: center;
}

div.item button {
  background: var(--color2);
  color: #4b0082;
  padding: 10px;
  border: none;
  outline: none;
}

#instagram {
  background: var(--color3);
  background-position: left bottom;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
#instagram .container{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 10px;
}



#instagram .insta-image {
  width: 100%;
  overflow: hidden;
}


#instagram figure .insta-icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: var(--color5);
  display: none;
}

#instagram figure:hover .insta-icon {
  display: flex;
}
