@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/beatrix-antiqua");
:root {
  --color1: #4b0082;
  --color2: #ffd700;
  --color3: rgb(93, 63, 211);
  --color4: #b0c4de;
  --color5: #e6e6fa;
  --color6: #ffffff;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Beatrix Antiqua";
  scroll-behavior: smooth;
}
body {
  /* width: 100vw; */
  background: linear-gradient(
    to bottom,
    var(--color1),
    var(--color4),
    var(--color1)
  );
  background-repeat: no-repeat;
  overflow-x: hidden;
}
img {
  user-select: none;
}

::selection {
  color: var(--color1);
  background: var(--color2);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color2);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color2);
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading,
.banner-heading,
.footerheading,
.logo,
.banner-heading small,
big {
  font-family: "Cinzel";
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  z-index: 99; /* Ensure loader is on top */
}

.zodiac-wheel {
  width: 100px; /* Size of the zodiac wheel */
  height: 100px;
  border-radius: 50%;
  border: 10px solid #fff; /* White border */
  border-top-color: #ffcc00; /* Gold color for effect */
  animation: spin 2s linear infinite; /* Spinning animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader p {
  margin-top: 20px;
  font-size: 18px;
}

.content {
  display: none; /* Hide content initially */
}

header {
  /* height: 100vh; */
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.scrolled {
  position: fixed !important;
  top: 0;
  background: rgba(51, 51, 51, 0.7) !important;
}
ul {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
li {
  list-style: none;
}

nav ul li a {
  padding: 10px;
  color: var(--color6);
  text-decoration: none;
}

.logo {
  color: var(--color2);
  font-size: 2em;
}

nav i.burger {
  color: var(--color6);
  font-size: 1.5em;
  display: none;
}

/* banner */
section.banner {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#particle {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
section.banner .bgText {
  position: absolute;
  top: 10%;
  z-index: 0;
  font-size: 11em;
  font-family: "Cinzel";
  font-weight: bold;
  opacity: 0.8;
  color: var(--color5);
  word-spacing: 250px;
}
section.banner .bannerImg {
  height: 100%;
  z-index: 1;
  filter: drop-shadow(5px 5px 5px black);
  scale: 1.3;
}
section.banner .divider {
  position: absolute;
  bottom: 0;
  z-index: 2;
  left: 0;
  right: 0;
}
section.banner .banner-heading {
  position: absolute;
  bottom: 10%;
  z-index: 3;
  font-size: 4em;
  text-align: center;
  font-weight: bold;
  color: var(--color2);
  display: flex;
  flex-direction: column;
  text-shadow: 5px 5px 5px  var(--color1) , -5px -5px 15px var(--color1);
}

/* marquee */

.marquee {
  /* margin: 10px; */
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--color2);
  background: var(--color1);
  color: var(--color6);
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 8s linear infinite;
}
.marquee .track .content {
  font-size: 1.5em;
  color: var(--color6);
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-30%);
  }
}

.star {
  filter: hue-rotate(210deg);
}

/* about us */
#about {
  padding: 10px;
  height: auto;
  background: url("/assests/purplesky.jpg");
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading {
  padding: 20px;
  text-align: center;
  font-size: 3em;
  color: var(--color2);
}

#about .container {
  background: var(--color1);
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
}

#about img {
  width: 50%;
  aspect-ratio: 1/1;
  object-fit: contain;
}

#about .about-content {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#about .about-content .heading {
  color: var(--color2);
  font-weight: bold;
  font-family: "Beatrix antiqua";
  font-size: 3em;
  margin: 10px 0;
  text-align: center;
}

#about .about-content .content-text {
  color: var(--color4);
  text-align: justify;
  font-size: 1em;
  width: 80%;
  margin: auto;
  line-height: 25px;
}
.njcustombutton {
  padding: 10px;
  border: 4px solid var(--color2);
  background: none;
  border-radius: 10px;
  margin: 10px;
  color: var(--color5);
  font-size: large;
  transition: 0.5s;
}

.njcustombutton:hover {
  background: var(--color2);
  color: #4b0082;
}

#readings {
  padding: 2em;
  background: linear-gradient(
      45deg,
      rgba(93, 63, 211, 0.5),
      rgba(93, 63, 211, 0.5)
    ),
    url(/assests/banner1.jpg);
  background-size: contain;
  background-position: center;
  height: 500px;
  background-size: cover;
  color: var(--color5);
}

#readings .heading {
  background: none;
}

#readings .container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
  margin: auto auto;
}
#readings #readingContent {
  font-size: 2em;
  margin: 20px 0;
}

#readings #readingHeader {
  color: var(--color2);
}
#booking {
  padding: 1.5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
      45deg,
      rgba(76, 0, 130, 0.5),
      rgba(76, 0, 130, 0.5)
    ),
    url(/assests/IMG_7876.JPG);
  background-size: 100%;
  background-position: center;
}

#booking img {
  width: 30%;
}

#booking .container {
  width: 30%;
  background: var(--color6);
  font-size: 1.5em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#booking .container h1 {
  margin: 15px 0;
  color: var(--color2);
}

#booking .container p {
  color: var(--color1);
  font-size: 0.8em;
  margin: 15px 0;
}
#booking .container button {
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
  width: fit-content;
  padding: 10px;
  border: 2px solid var(--color3);
  color: var(--color1);
  background: none;
}

#booking .container button:hover {
  background: var(--color1);
  color: var(--color6);
}

#vid {
  width: 100%;
  height: 500px;
  position: relative;
}

#vid video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
}

#vid #play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40px, -40px);
  font-size: 6em;
  color: white;
  z-index: 2;
  background: none;
  border: none;
  outline: none;
  opacity: 0.5;
}

#testimonial {
  padding: 10px;
  min-height: 500px;
  background: linear-gradient(
      45deg,
      rgba(76, 0, 130, 0.5),
      rgba(76, 0, 130, 0.5)
    ),
    url(/assests/banner2.jpg);
    background-size: cover;
    background-position: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  /* height: auto; */
}
#testimonial h3 {
  color: var(--color4);
}
#testimonial h1 {
  font-weight: bold;
  color: var(--color4);
  font-size: 2em;
}

#testimonial .slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 60%; */
  /* background: grey; */
}

#testimonial .slides-container{
  width: 100%;
  height: 100%;
}

#testimonial .slides {
  width: 100%;
  height: 100%;
  display: none;
}

#testimonial .slides.active {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#testimonial .slides img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

#testimonial .slides .caption {
  width: 50%;
  color: var(--color5);
  text-align: center;
  margin: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
}

#testimonial .slides .personName {
  color: var(--color5);
  padding: 10px;
  font-size: 2em;

}
#testimonial .fa-star {
  color: var(--color2);
  padding: 10px;
}
#testimonial .btn-group {
  display: flex;
  justify-content: center;
}

#testimonial .btn-group .slider-btn {
  width: 100px;
  background: none;
  border: none;
  outline: none;
  font-size: 1.5em;
  color: var(--color2);
  transition: 0.8s;
}

#testimonial .btn-group .slider-btn:hover i {
  scale: 1.1;
}

/* whatsapp Channel */
#whatsappChannel {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/assests/poster2.jpg);
}

#whatsappChannel h1 {
  color: var(--color2);
  margin: 0 20px;
  padding: 0 20px;
}

#whatsappChannel a {
  color: var(--color6);
  background: var(--color3);
  padding: 10px;
  text-decoration: none;
}

/* categories */

#categories {
  background: linear-gradient(
      45deg,
      rgba(76, 0, 130, 0.5),
      rgba(76, 0, 130, 0.5)
    ),
    url(/assests/IMG_7874.JPG);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#categories h1 {
  color: var(--color2);
  font-size: 2em;
  margin: 10px;
}
.swiper {
  margin: 20px;
  width: 300px;
  height: 400px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  background: linear-gradient(to top, #4b0082, #5d3fd3);
  text-align: center;
}

.swiper-slide img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin: 40px auto;
  display: block;
}
.swiper-slide .caption .title {
  padding: 10px;
  font-family: cinzel;
  color: var(--color5);
}
.swiper-slide .caption p {
  font-family: "beatrix Anitqua";
  color: var(--color2);
  font-size: 1em;
}

.swiper-slide button {
  padding: 10px;
  border: 2px solid var(--color2);
  background: none;
  border-radius: 8px;
  margin: 10px;
  color: var(--color5);
}
/* instagram */

#instagram {
  background: linear-gradient(
      45deg,
      rgba(76, 0, 130, 0.5),
      rgba(76, 0, 130, 0.5)
    ),
    url(/assests/IMG_7874.JPG);
  background-position: left bottom;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  position: relative;
}
#instagram .container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  transition: 0.5s;
}

#instagram .container .images {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#instagram .container .images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#instagram .mainLink {
  background: black;
  border-radius: 4px;
  padding: 5px;
  text-decoration: none;
  color: var(--color5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -40%);
  z-index: 2;
}
#instagram .container .images a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  color: var(--color6);
  text-decoration: none;
  font-size: large;
  transition: 0.5s;
}

#instagram .container :hover a {
  opacity: 1;
}
/* footer */
footer {
  height: 300px;
  background: linear-gradient(to bottom, var(--color1), var(--color3));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

footer .footerheading {
  text-align: center;
  font-size: 3em;
  color: var(--color2);
  letter-spacing: 2px;
  margin-bottom: 5px;
}

footer .tagline {
  font-size: 1.5em;
  color: #bbb;
}

footer .social-icons {
  margin-top: 20px;
}

footer .social-icons a {
  margin: 0 10px;
  display: inline-block;
}

footer .social-icons i {
  width: 30px;
  height: 30px;
  color: var(--color6);
}

/* modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 6;
}

/* Modal Box */
.modal {
  background-color: #ffffff;
  width: 90%;
  max-width: 500px;
  height: 90%;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  animation: fadeIn 0.3s;
  overflow-y: scroll;
}

/* Close Button */
.close-modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* Form Styling */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 15px;
  font-size: 16px;
  color: #4b0082;
}

input,
textarea,
select {
  margin-top: 8px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
}

textarea {
  resize: none;
  height: 80px;
}

/* Styled Select Menu */
select {
  background-color: #ffffff;
  color: #4b0082;
  font-weight: bold;
}
.modal p {
  font-family: "Times New Roman", Times, serif;
}

/* Submit Button */
.submit-btn {
  margin-top: 20px;
  padding: 12px;
  background-color: #4b0082;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #5d3fd3;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content2 {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 80%;
  max-width: 400px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.close-btn2 {
  font-size: 24px;
  color: #333;
  float: right;
  cursor: pointer;
}

/* pricing */
#pricing {
  padding: 10px;
  background: linear-gradient(
      45deg,
      rgba(76, 0, 130, 0.5),
      rgba(76, 0, 130, 0.5)
    ),
    url(/assests/IMG_7875.WEBP);
    background-position: center;
}
#pricing h1 {
  text-align: center;
  color: var(--color2);
}
#pricing .container {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  width: 80%; 
  margin: auto;
}

#pricing .card {
  height: 450px;
  width: 300px;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-around !important;
  flex-direction: column;
  border: 2px solid #ffd700;
  background: rgba(76, 0, 130, 0.8);
  border-radius: 18px;
  backdrop-filter: blur(5px);
}

.card-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 5px rgb(70, 70, 70);
}
.card img{
  height: 100px;
  width: 100px;
  position: absolute;
  top: 50%;left: 50%;
  transform: translate(-40%,-50%);
  filter: blur(1.5px);
  z-index: 1;
}
.card-header .card-title {
  color: var(--color6);
  z-index: 1;
  font-size: 2em;
  margin: 50px 0;
}

@keyframes rotate {
  0% {
    transform: translate(-40%, -40%) rotate(0deg);
  }
  100% {
    transform: translate(-40%, -40%) rotate(360deg);
  }
}

.card .pricingValue{
  display: block;
  margin: auto;
  width: 80%;
  text-align: center;
  font-family: 'Cinzel';
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 5px black;
  text-align: center;
  font-size: 2em;
}

.card button {
  width: 80%;
  display: block 10px;
  margin: auto;
  padding: 10px;
  background: none;
  background: var(--color2);
  border-radius: 10px;
  font-size: large;
  transition: 0.5s;
  color: #4b0082;
  border: 4px solid var(--color2);
}

.card button:hover {
  color: black;
  background: transparent;
  border: 4px solid var(--color2);
}